@use '../helpers' as *;

:root {
  --color-dark: #191a23;
  --color-dark-alt: #292a32;
  --color-gray-alt: #898989;
  --color-gray: #f3f3f3;
  --color-light: #fff;
  --color-accent: #b9ff66;

  --border: 1px solid var(--color-dark);

  --border-radius-large: 45px;
  --border-radius: 14px;
  --border-radius-small: 7px;

  --shadow: 0 5px var(--color-dark);

  --font-family: 'Space Grotesk', sans-serif;

  --container-width: 1240px;
  --container-padding-x: 20px;

  --section-padding-y: 70px;

  --input-height: 59px;
  --button-height: 68px;

  --transition-duration: 0.2s;

  @include desktop {
    --section-padding-y: 50px;
  }

  @include mobile {
    --section-padding-y: 30px;
  }
}
