/* Error: Undefined mixin.
 *    ,
 * 29 | /   @include desktop {
 * 30 | |     --section-padding-y: 50px;
 * 31 | \   }
 *    '
 *   styles/helpers/_variables.scss 29:3  @forward
 *   styles/helpers/_index.scss 3:1       @use
 *   styles/base/_globals.scss 1:1        @forward
 *   styles/base/_index.scss 3:1          @use
 *   styles/main.scss 1:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 29 \2502  \250c    @include desktop {\a 30 \2502  \2502      --section-padding-y: 50px;\a 31 \2502  \2514    }\a    \2575 \a   styles/helpers/_variables.scss 29:3  @forward\a   styles/helpers/_index.scss 3:1       @use\a   styles/base/_globals.scss 1:1        @forward\a   styles/base/_index.scss 3:1          @use\a   styles/main.scss 1:1                 root stylesheet";
}
